
@{
    ViewBag.Title = "Home";
}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>Flight Manager</title>
        <link rel="stylesheet" type="text/css" href="~/Content/reset-css.css">
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
        <link rel="jssheet" href="~/Content/script.js">
    </head>

    <body>
        <div>
            <header>
                <nav class="navbar flightm-color">

                    <h1 style="float:none; text-align:center"><a href="/Customer/Home">Housekeeper Manager</a></h1>
                    <ul>
                        <li> <a class="active" style="float:left; margin-left:2%; text-align:center" href="/Customer/Tasks">Tasks</a></li>
                        <li> <a class="active" style="float:left; margin-left:2%; text-align:center" href="/Customer/Locations">Locations</a></li>
                    </ul>
                    <ul>
                        <li> <a class="active" style="float:right; margin-right:2%; text-align:center">Welcome, Customer!</a></li>
                        <li> <a class="active" href="/Home/Logout" style="float:right; margin-right:2%; text-align:center">Logout</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </body>

