.app {
    width: 100%;
    height: 100%;
}

a {
    color: #8ce4ff;
}

.half-width {
    width: 50%;
}

butns {
    color: #198bf4
}

textarea {
    resize: none;
}

.flightm-color {
    background-color: #1677cf;
    color: #ffffff;
}

.nav-link-dark {
    color: #ffffff
}

.hr-2 {
    height: 2px;
}

.hr-1 {
    height: 1px;
}

.table-hover > tbody > tr:hover {
    background-color: #1677cf;
    color: #808080;
}

#searchBar {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 5px;
    background-color: #1677cf;
}


footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}

.table-responsive {
    height: 180px;
}

/*.product {*/
/*word-wrap: break-word;*/
/*}*/
